@import './config.scss';


.container{
    background-color: $primary-color;
    height:100vh;
    .wrapper{
        @include centerAlign();
        width:80%;
        &__inner{
            background-color: $secondary-color;

            &__para{
                font-weight: fontWeights(bold);
            }
            &__para__two{
                @extend .wrapper__inner__para
            }
        }
    }
}